<div class="search-contents">
  <div class="esa-results-wrapper esa-ajax">
    <div class="row">
      <div class="col-12">
        {% if header %}
          {{ header }}
        {% endif %}
      </div>

      {% if facets %}
        <div class="col-md-3 sidebar">
          <div class="inner hidden-md-down">
            <aside class="layout-sidebar" role="complementary">
              <div class="facets">
                {{ facets }}
              </div>
            </aside>
          </div>
        </div>
      {% endif %}

      {% set wrapperClass = facets ? 'col-md-9' : 'col-md-12' %}
      <div class="col-search-content {{ wrapperClass }}">
        <div class="layout-content">

          <div class="breadcrumbs u-hidden-mobile clearfix">
            <div class="typography">{{ breadcrumbs }}</div>
          </div>

          <span class="u-hidden-mobile results-count-wrapper">
            {% if result_count %}
              {{ result_count }}
            {% endif %}
          </span>

          <span class="u-hidden-mobile suggestion-wrapper">
            {% if did_you_mean %}
              {{ did_you_mean }}
            {% endif %}
            {{ active_filters }}
          </span>

          <div class="results-wrapper">
            {{ results }}
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<div id="block-ui-spinner"></div>
