<div class="result-count">
  {% if result_count %}
    <strong>
      {% trans %}
        {{ result_count }} result found
      {% plural result_count %}
        {{ result_count }} results found
      {% endtrans %}
    </strong>
  {% elseif result_count is same as(0) %}
    <strong>{{ "No results found"|t }}</strong>
  {% endif %}
</div>
